<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">
    <meta name="template" content="greeny">
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
    <meta name="keywords"
          content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
    <title>Web bán nông sản xanh !</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css">
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css">
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/index.css" />
</head>

<body>

<!--************************************
            Header Start
    *************************************-->
<header th:replace="~{/web/fragments/header :: header}"></header>
<!--************************************
        Header End
*************************************-->


<section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>Liên hệ chúng tôi</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang Chủ</a></li>
        </ol>
    </div>
</section>
<section class="inner-section contact-part">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="icofont-location-pin"></i>
                    <h4>Địa chỉ : </h4>
                    <p>504 Đại lộ Bình DươngHiệp Thành, Thủ Dầu Một, Bình Dương</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="icofont-phone"></i>
                    <h4>Số điện thoại :</h4>
                    <p>
                        <a href="javascript:void(0);">0962448842 <span>(Hồ Đại Huynh)</span></a>
                        <a href="javascript:void(0);">0962448842</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-card">
                    <i class="icofont-email"></i>
                    <h4>Email hỗ trợ :</h4>
                    <p>
                        <a href="javascript:void(0);">18050124@gmail.com</a>
                        <a href="javascript:void(0);">hodaihuynhbd@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.1607317851089!2d106.66353193824357!3d10.990301627837127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d117800fe90f%3A0xe66d67d4e06ab329!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6xuaCBExrDGoW5n!5e0!3m2!1svi!2s!4v1668480661597!5m2!1svi!2s" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-success"
                     role="alert"
                     th:if="${message}"
                     th:text="${message}">
                </div>
                <form class="contact-form" th:action="@{/sendmail}" th:object="${mailsup}" method="post">
                    <h4>Gửi yêu cầu hỗ trợ</h4>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" th:field="*{name}" id="name"
                                   placeholder="Tên của bạn" required><i class="icofont-user-alt-3"></i></div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text" th:field="*{email}" id="email"
                                   placeholder="Email của bạn" required><i class="icofont-email"></i></div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <input class="form-control" type="text"th:field="*{title}" id="title"
                                   placeholder="Tiêu đề" required><i class="icofont-book-mark"></i></div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                                <textarea class="form-control" required th:field="*{content}" id="content"
                                          placeholder="Nội dung"></textarea><i class="icofont-paragraph"></i></div>
                    </div>
                    <button type="submit" class="form-btn-group">
                        <i class="fas fa-envelope"></i>
                        <span>Gửi tin nhắn</span>
                    </button>
                </form>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="branch-card"><img src="images/edit/thanhphothudaumot.jpg" alt="branch">
                    <div class="branch-overlay">
                        <h3>Thành Phố </h3>
                        <p>Thủ Dầu Một .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="branch-card"><img src="images/edit/tanuyen.jpeg" alt="branch">
                    <div class="branch-overlay">
                        <h3>Thị Xã</h3>
                        <p>Tân Uyên.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="branch-card"><img src="images/edit/thanhphodian.jpg" alt="branch">
                    <div class="branch-overlay">
                        <h3>Thành phố</h3>
                        <p>Dĩ AN</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="branch-card"><img src="images/edit/thanhphothuanan.png" alt="branch">
                    <div class="branch-overlay">
                        <h3>Thành Phố</h3>
                        <p>Thuận An.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news-part" style="background: url(images/newsletter.jpg) no-repeat center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Nhận chiết khấu 20% cho người đăng ký</h2>
                    <p>Nhận chiết khấu 20% cho người đăng ký</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Nhập email của bạn">
                    <button>
                        <span><i class="icofont-ui-email"></i>Gửi</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="intro-part">
    <div class="container">
        <div class="row intro-content">
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon"><i class="fas fa-truck"></i></div>
                    <div class="intro-content">
                        <h5>Giao hàng tận nhà miễn phí</h5>
                        <p>Giao hàng đúng sản phẩm nhanh chóng, đúng hẹn, hỗ trợ giao tận cửa nếu có nhu ... hạng vàng rồi mà hóa đơn trên 100k vẫn k dc freeship vẫn tính 10k ship.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
                    <div class="intro-content">
                        <h5>Chính Sách Hoàn Tiền</h5>
                        <p>Hoàn lại số tiền bằng với tiền vận chuyển mà người mua đã thanh toán cho đơn vị vận chuyển thông qua “Số dư tài khoản GREENY-SHOP” trên ứng dụng.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon"><i class="fas fa-headset"></i></div>
                    <div class="intro-content">
                        <h5>Hệ Thống Hỗ Trợ</h5>
                        <p>Nguồn rau sạch rõ ràng, giá lại rẻ hơn cả rau mua ngoài chợ.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon"><i class="fas fa-lock"></i></div>
                    <div class="intro-content">
                        <h5>Thanh toán an toàn</h5>
                        <p>Người mua có thể gửi yêu cầu trả hàng/hoàn tiền trong vòng 07 (bảy) ngày (đối với các sản phẩm thuộc Cửa Hàng) và 03 (ba) ngày (đối với các sản phẩm không thuộc Cửa Hàng) kể từ lúc đơn hàng được cập nhật giao hàng thành công.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--************************************
            Footer Start
    *************************************-->
<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

<!--************************************
        Footer End
*************************************-->


<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="vendor/bootstrap/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/countdown/countdown.min.js"></script>
<script src="vendor/niceselect/nice-select.min.js"></script>
<script src="vendor/slickslider/slick.min.js"></script>
<script src="vendor/venobox/venobox.min.js"></script>
<script src="js/nice-select.js"></script>
<script src="js/countdown.js"></script>
<script src="js/accordion.js"></script>
<script src="js/venobox.js"></script>
<script src="js/slick.js"></script>
<script src="js/main.js"></script>
</body>
</html>